
# PlanAhead Generated physical constraints 
NET "hsync" LOC = F15 |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "vsync" LOC = F14 |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "mclock" LOC = C9 |IOSTANDARD = LVCMOS33;
NET "reset" LOC = L13;
NET "rgb[0]" LOC = H14 |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "rgb[1]" LOC = H15 |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "rgb[2]" LOC = G15 |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;

